@media  ( max-width: 1381px )
	.calculate_wrapper
		display: none		
	.calculate_wrapper_one
		display: block


@media  ( max-width: 1200px )
	.reasons
		&_wrapper
			margin-top: 40px
			&_descr
				margin-top: 30px
				&_text
					margin-bottom: 50px	
	.calculate	
		.title_left
			text-align: left	
	.questions_wrapper
		display: none
	.questions_wrapper_one
		display: block	

@media  ( max-width: 991px )
	.logo_house_services 
		font-size: 10px
	.complex_menu
		&_link
			&_list
				font-size: 14px
	.title_left 
			font-size: 38px	


@media  ( max-width: 767px )
	.subcomplex
		&_wrapper
			margin-top: 220px	
	.title_left
		font-size: 28px	
		line-height: 50px
	.footer_wrapper_menu_two
		display: none


@media  ( max-width: 575px )
	.title_left	
		font-size: 15px
		line-height: 30px
	.title
		display: none
	.subcomplex
		&_wrapper
			display: flex
			flex-direction: column
			&_links
				padding-left: 30px
				text-align: left
				line-height: 45px
				&::before
					top:5px
					left: 0px
			&_items
				padding-left: 30px
				text-align: left
				line-height: 45px
				&::before
					top:5px
					left: 0px		
	.following
		&_wrapper
			img
				width: 95%
			&_descr
				padding: 115px 50px 130px 30px	
				font-size: 14px
	.wolking	
		&_wrapper
			&_video
				width: 95%
	.calculate_wrapper_one	
		display: none		
	.calculate_wrapper_sm
		display: block
	.questions_wrapper_one	
		display: none			
	iframe
		width: 95%								



	

	
	// .footer_wrapper_menu_two
	// 		display: none		
		
