@import 'base/mixins'
@import 'base/variables'
@import 'block/title'
@import 'block/buttons'
	
.container	
	position: relative
	width: 1140px
	margin: 0 auto
	

.complex	
	position: relative
	min-height: 840px
	background: url('../img/complex.jpg') center center/cover no-repeat

header
	padding: 0 0 74px 0
.menu
	margin-top: 55px
	&_link
		display: flex
		justify-content: space-between
		list-style: none
		&_list
			text-decoration: none
			font-family: 'Raleway'
			font-style: normal
			font-size: 14px
			line-height: 16px
			letter-spacing: 0.05em
			color: #FFFFFF
.logo_house	
	display: block
	&_vop
		margin-top: 30px
	&_services
		margin-top: 15px
		font-family: 'Raleway'
		font-style: normal
		font-size: 12px
		line-height: 14px
		letter-spacing: 0.12em
		color: #FFFFFF
.subcomplex	
	&_mouse
		margin-top: 100px
		text-align: center	
	&_wrapper
		display: flex
		justify-content: space-evenly
		margin-top: 215px
		&_links
			position: relative
			text-decoration: none		
			font-family: 'Raleway'
			font-weight: 400
			font-size: 18px
			line-height: 21px
			text-align: center
			color: #FFFFFF
			&::before
				content: ''
				position: absolute
				top: 0px
				left: -26px
				width: 15px
				height: 21px
				background: url('../icons/Group.svg') center center/cover no-repeat
		&_items
			position: relative
			text-decoration: none		
			font-family: 'Raleway'
			font-style: normal
			font-size: 18px
			line-height: 21px
			text-align: center
			color: #FFFFFF
			&:before
				content: ''
				position: absolute
				top: 0px
				left: -26px
				width: 15px
				height: 21px
				background: url('../icons/phone-call.svg') center center/cover no-repeat

.reasons	
	min-height: 840px
	background-color: $submain-color 
	&_wrapper
		margin-top: 100px
		&_descr
			margin-top: 53px
			&_text
				font-family: 'Roboto'
				font-style: normal
				font-weight: 300
				font-size: 20px
				line-height: 27px
				text-align: center
				color: #FFFFFF	
				margin-bottom: 120px

	
.following
	position: relative
	height: 770px
	&_wrapper
		margin-top: 50px
		position: relative
		&_descr
			position: absolute
			padding: 248px 132px 50px 50px
			font-family: 'Raleway'
			font-style: normal
			font-weight: 400
			font-size: 24px
			line-height: 28px
			color: #FFFFFF
.calculate 
	position: relative	
	padding: 180px
	min-height: 570px
	background: url('../img/skyscraper.jpg') center center/cover no-repeat
	&_wrapper
		margin-top: 27px
		&_form
			display: flex
			flex-wrap: wrap
			justify-content: space-between
			align-items: flex-end
		&_lorem
			font-family: 'Raleway'
			font-style: normal
			font-weight: 400
			font-size: 16px
			line-height: 24px
			color: #FFFFFF	
		&_descr
			display: inline-block
			margin-top: 46px
			font-family: 'Raleway'
			font-style: normal
			font-weight: 400
			font-size: 13px
			line-height: 16px
			text-align: center
			color: #E7E7E7
			width: 255px
			height: 28px

input
	font-family: 'Raleway'
	font-style: normal
	font-weight: 400
	color: #BEBEBE
	text-align: center
	border: none
	background: rgba(255, 252, 252, 0.228)
	width: 255px
	height: 50px
.wolking	
	background: $submain-color
	min-height: 530px
	position: relative
	&_wrapper
		position: relative
		margin-top: 108px
		&_play	
			position: absolute
			padding: 220px 478px 220px 478px
.district
	padding: 173px
	min-height: 500px
	background: $submain-color
iframe
	margin-top: 100px
	width: 100%
	height: 358px

.questions	
	padding: 183px
	min-height: 300px
	background: $submain-color 
	&_wrapper
		margin-top: 50px
		&_form
			display: flex
			justify-content: space-between
		&_descr
			display: inline-block
			font-family: 'Raleway'
			font-style: normal
			font-weight: 400
			font-size: 13px
			line-height: 16px
			text-align: center
			color: #E7E7E7
			width: 255px
			height: 28px

footer
	padding: 72px
	min-height: 272px
	background: #2D343C


.footer_wrapper		
		display: flex
		justify-content: space-between
		&_menu
			display: flex
		&_link
			display: flex
			flex-direction: column
			list-style: none
			margin-top: 20px
			&_links
				margin-bottom: 15px
				font-family: 'Raleway'
				font-style: normal
				font-weight: 400
				font-size: 14px
				line-height: 16px
				letter-spacing: 0.05em
				color: #FFFFFF
				text-decoration: none

			&_social
				display: flex
				justify-content: space-around
				margin-top: 51px
				







