@import 'base/mixins'
@import 'base/variables'
@import 'block/title'
	
.container	
	width: 1140px
	margin: 0 auto
	position: relative

.complex	
	position: relative
	height: 840px
	background: url('../img/complex.jpg') center center/cover no-repeat

header
	padding: 0 0 74px 0
.menu
	margin-top: 55px
	&_link
		display: flex
		justify-content: space-between
		list-style: none
		&_list
			text-decoration: none
			font-family: 'Raleway'
			font-style: normal
			font-size: 14px
			line-height: 16px
			letter-spacing: 0.05em
			color: #FFFFFF


.logo_house	
	display: block
	&_vop
		margin-top: 30px
	&_services
		margin-top: 15px
		font-family: 'Raleway'
		font-style: normal
		font-size: 12px
		line-height: 14px
		letter-spacing: 0.12em
		color: #FFFFFF
.subcomplex	
	&_mouse
		margin-top: 100px
		text-align: center	

.subcomplex_wrapper
		display: flex
		justify-content: space-around
		margin-top: 200px
.links_item
	position: relative
	text-decoration: none		
	font-family: 'Raleway'
	font-weight: 400
	font-size: 18px
	line-height: 21px
	text-align: center
	color: #FFFFFF
	&::before
		content: ''
		position: absolute
		top: 0px
		left: -26px
		width: 15px
		height: 21px
		background: url('../icons/Group.svg') center center/cover no-repeat
.links_items
		position: relative
		text-decoration: none		
		font-family: 'Raleway'
		font-style: normal
		font-size: 18px
		line-height: 21px
		text-align: center
		color: #FFFFFF
		&:before
			content: ''
			position: absolute
			top: 0px
			left: -26px
			width: 15px
			height: 21px
			background: url('../icons/phone-call.svg') center center/cover no-repeat

.reasons	
	min-height: 840px
	background-color: $submain-color
	&_wrapper
		margin-top: 100px
		&_descr
			margin-top: 53px
			&_text
				font-family: 'Roboto'
				font-style: normal
				font-weight: 300
				font-size: 20px
				line-height: 27px
				text-align: center
				color: #FFFFFF		
